@font-face {
    font-family: 'North';
    src: url('../fonts/North.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0b0b0b;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.main, 
.note, 
hr {
    border: 0.4px solid #252525;
}

hr {
    width: 20%;
    margin: 1rem auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.main {
    width: 80%;
    padding: 5px;
    margin: 0.5rem auto;
    overflow: auto;
}

.content {
    display: flow-root;
    width: 90%;
    padding: 20px;
    margin: 0.3rem auto;
    font-size: 2.25rem;
    word-break: break-word;
    overflow-wrap: break-word;
    border-radius: 8px 8px 0 0; 
    overflow: hidden; 
}

.note {
    width: 80%;
    padding: 3px;
    margin: 0.3rem auto;
    background-color: #151515;
    text-align: center;
}

.header h1 {
    font-family: 'North', sans-serif;
    font-size: 2.5rem;
}

.subtext, 
.footer {
    font-size: 0.9rem;
    color: #666;
}

.subtext {
    display: block;
    margin-top: 0.25rem;
}

.footer {
    margin-top: 1rem;
    text-align: center;
}

.content img {
    max-width: 300px;
    height: auto;
    margin: 0 0 1rem 1.5rem;
    image-rendering: pixelated;
}
