@font-face {
  font-family: 'angelic_peaceregular';
  src: url('fonts/angelic_peace-webfont.woff2') format('woff2'),
       url('fonts/angelic_peace-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Rascal';
  src: url('fonts/RASCAL.woff2') format('woff2');
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}


.header h1 {
    font-family: 'angelic_peaceregular', sans-serif;
    font-size: 2.5rem;
}

.subtext {
    font-size: 0.9rem;
    color: #666666;
    margin-top: 0.25rem;
    display: block;
}

.main, .content {
    padding: 20px;
    width: 80%;
    margin: 0.5rem auto;
    border: 1px solid #ccc;
    overflow: auto;
}
.content h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-family: 'Rascal', sans-serif;
}
.content img {
    display: block;
    max-width: 150px;
    height: auto;
    margin: 1rem auto 0;
    image-rendering: pixelated;
}
.note {
    width: 80%;
    background-color: #FFF4A3;
    margin: 0.9rem auto;
    padding: 0.1rem;
    text-align: center;
    border: 1px solid #ccc;
}

hr {
    width: 20%;
    border: 1px solid #ccc;
    margin: 1rem auto;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666666;
    margin-top: 1rem;
    width: 100%;
}
