@font-face {
  font-family: 'angelic_peaceregular';
  src: url('fonts/angelic_peace-webfont.woff2') format('woff2'),
       url('fonts/angelic_peace-webfont.woff') format('woff');
}

@font-face {
  font-family: 'North';
  src: url('fonts/North.woff2') format('woff2');
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%; 
  width: 100%;
}


.header h1 {
    font-family: 'angelic_peaceregular', sans-serif;
    font-size: 2.5rem;
}

.subtext {
    font-size: 0.9rem;
    color: #666666;
    margin-top: 0.25rem;
    display: block;
}

.content {
    padding: 20px;
    width: 90%;
    margin: 0.3rem auto;
    border: 1px solid #ccc;
    overflow: auto;
    overflow-wrap: break-word; 
    word-break: break-word; /* for STUPID older browsers that don't support overflow-wrap, ughh!!!! */
    /* woah is that like, my only message in the entire css file? I guess so. */
}
.main {
    padding: 5px;
    width: 80%;
    margin: 0.5rem auto;
    border: 1px solid #e1e0e0;
    overflow: auto;
}
.content h1 {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'North';
}
.content img {
    border: 1px solid #ccc;
    float: right;
    margin: 0 0 1rem 1rem; 
    max-width: 150px;
    height: auto;
    image-rendering: pixelated;
}
.note {
    width: 80%;
    height: auto;
    background-color: #FFF4A3;
    margin: 0.9rem auto;
    padding: 3px;
    text-align: center;
    border: 1px solid #ccc;
}

hr {
    width: 20%;
    border: 1px solid #ccc;
    margin: 1rem auto;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    color: #666666;
    margin-top: 1rem;
    width: 100%;
}
