@font-face {
  font-family: 'angelic_peaceregular';
  src: url('fonts/angelic_peace-webfont.woff2') format('woff2'), 
       url('fonts/angelic_peace-webfont.woff') format('woff');
}
body { 
    zoom; 200%;
    font-family: Arial,sans-serif; 
}
.main {
    text-align: center;
    font-size: 0.9rem;
}
.main h1 { 
    font-family: 'angelic_peaceregular', sans-serif; 
    font-size: 1.2m;
} 
.subtext {
  font-size: 0.70rem;
  color: #666666;
  line-height: 1.4;
  margin-top: 0.25rem;
  display: block;
}